@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background: black url('../imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

main{
    height: 100vh;
    position: relative;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 242px;
    background: url(../imagens/frame-iphone.png) no-repeat;
    background-size: contain;
}

#tela{
    position: relative;
    top: 62px;
    left: 17px;
    width: 208px;
    height: 367px;
}
#redes-sociais a  img{
    width: 50px;
    margin: 5px;
    box-shadow: 2px  2px 5px rgba(0, 0, 0, 0.363);
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
}

#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.671);
    transform: translate(-10px, -3px);
    box-shadow: 5px  5px 5px rgba(0, 0, 0, 0.363);
    transition: transform .3s, border .5s;
}

#redes-sociais{
    text-align: right;
}

@media (max-width: 500px){
    #telefone{
        transform: translate(-50%, -55%);
    }
}